<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<!-- 필요한 환경변수, 또는 전역변수, 또는 타입알리아스를 설정 -->
  	<!-- 입력되지않은 필드 NULL로 들어갈 수 있게 세팅 -->
  	<settings>
  		<setting name="cacheEnabled" value="false"/>
  		<setting name="jdbcTypeForNull" value="NULL"/>
  	</settings>	
  </configuration>